.body {
    margin: 20px auto;
    border: 2px solid rgb(30, 33, 33);
    width: 550px;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(30, 33, 33);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
    text-align: center;
    margin: 20px;
    color: lightgray;
}


